.container-login
{

	margin:40px 0 0 0;
	padding:1px;
	
	
}
.container-login label{
	color:#093;
}
.login-cabezera
{
	background:#21AD22;
	font-size:20px;
	color:rgb(255,255,255);
	padding:0 5px 0 5px;
}
