.container-login
{

	margin:40px 0 0 0;
	padding:1px;
	
	
}
.container-login label{
	color:#093;
}
.label-uv{
	color:#093 !important;
}
.linea-gradada
{
    background: linear-gradient(to right, #069 30%, #FFF 100%) repeat scroll 0% 0% transparent;
    
    width: 60%;
    
}
.navbar li a{
	color:#4A4545;
}
.navbar a{
	color:#EBF0F5;
}
.navbar a:hover{
	color:#FFFFFF;
}
.cabecera-panel{
	background:#3DB1B1 !important;
	border-color:#3DB1B1 !important;
}

.radio-cabecera{
	
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color:#FFF;
	
}

.login-cabezera
{
	background:#21AD22;
	font-size:20px;
	color:rgb(255,255,255);
	padding:0 5px 0 5px;
}
.margen{
	margin:50px 0 0 0 !important;
	
}
.color-verde{
	background:#693;
}
.caja-tiempo span{
	font-size:23px;
}
.caja-tiempo{
	width:60px;
	height:30px;
	color:#fff;
	padding: 3px 19px;
	margin:5px 12px;
	border-radius: 3px;
	float:left;
	z-index:1;
}

.nav > li > a:focus, .nav > li > a:hover
{
	text-decoration: none;
	background-color: #9DC4D7;
}
